@model ShoppingCartViewModel

    <div class="container">
        <h2 class="font-color-main">Cart</h2>
        <h4 class="font-color-main">Review Your Purchases</h4>
        <table class="table table-bordered table-striped font-color-main">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Quote</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="text-center">@line.Amount</td>
                        <td class="text-left">@line.Title.Name</td>
                        <td class="text-right">
                            @line.Title.Price.ToString("c")
                        </td>
                        <td class="text-right">
                            @((line.Amount * line.Title.Price).ToString("c"))
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right font-color-main">
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

        <a asp-controller="Home"
           asp-action="Index">
            <div class="align-text-right">
                <p class="font-color-main">Back To Titles</p>
            </div>
        </a>

        <div class="text-center ">
            <a class="btn font-color-main opacity-dark large-font" asp-controller="Order" asp-action="Checkout">Check Out</a>
        </div>
    </div>